.form {
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 5vh 1vw;
	margin: 0 10vw;
	width: 16vw;
	box-sizing: content-box;
	background-color: gray;
	top: 20vh;
	line-height: 1.5vh;
	color: white;
}
#account_form {
	left: 20%;
}
#funfacts_form {
	right:20%;
}

label {
	line-height: 3vh;
}

textarea, input {
	max-width: 13vw;
	max-height: 10vh;
}