
#account_form {
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 5vh 1vw;
	margin: 0 10vw;
	width: 300px;
	box-sizing: content-box;
	background-color: gray;
	top: 20vh;
	left: 30%;
	line-height: 1.5vh;
	color: white;


label {
	line-height: 3vh;
}