form {
	width: max(10vw,auto);
	padding: 2vh;
}

#create_post {
	width: max(30vw, auto);
	display: block;	
	position: absolute;
	top: 20vh;
	left: 40vw;
	border: solid black .2vw;
	background-color: hsl(40,100%,70%);
}

input {
	width: 15vw;
	margin: 1vh 2vw;
	font-size: min(16px,3vh);
	border: solid black .1vw;
}

input[type="file" i] {
	font-size: 2vh;
	border-width: 0px;
	height: min(30px, 5vh);
}

textarea {
	width: 300px;
	max-width: 15vw;
	height: 100px;
	max-height: 20vh;
	margin: 0px 2vw;
	font-size: min(16px,3vh);
	border-width: .1vw;
}

placeholder {
	font-size: 2vh;
}
