/*sections*/

html {
	font-size: min(16px,3vh);
	background-image: linear-gradient(180deg, hsl(200, 100%, 90%), hsl(200,100%,95%)); 
	background-repeat: no-repeat;
	background-size: 100000px 100000px;
	line-height: 3vh;
	height: 120%;
}
body {
	margin-top: 9%;
	height: auto;
	padding-bottom: 70%;
}

header {
	background-image: linear-gradient(to right, hsl(200,100%,60%),hsl(240,100%,95%) ); 	//background-color: hsl(40, 80%, 40%);
	width: 100%;
	max-height: 8%;
	line-height: 0%;
	position: absolute;
    top: 0;
	left:0;
	overflow: hidden;
	text-align:center;
	z-index: 1000;
}

footer {
	max-height: 5%;
    line-height: 200%;
    overflow: hidden;
    position: fixed;
    bottom: 0vh;
	left:0;
    width: 100%;
	text-align: center;
	background-color: hsl(0, 0%, 70%); 
	font-size: 2vh;
}

/*more specific tags*/

h1 { /*Used for header*/
	text-align:center;
	font-size: 6vh;
	color: white;
	text-decoration: underline;
}

h2 {
	font-size: 25px;
	text-decoration: bold;
}

h3 {
	font-size: 3vh;
	text-decoration: underline;
}

button {
	font-size: min(14px, 1vw);
	border: solid black .1vw;
	text-align: center;
	padding: 0.25vh 0.25vw;
}
.button_style1 {
	height: 3vh;
	max-height: 5vh;
	width: 4vw;
	max-width: 6vw;
	bottom:2%;
	position: relative;
	float:right;
	margin: .25vh .25vw;
}

/*Classes and id's*/

#side_menu { /*this is the box with the menu in it*/
	border: solid black;
	width: 10vw;
	height: auto;
	font-size: 2.5vh;
	padding: 0% 1%;
	background-image:radial-gradient(hsl(200, 100%, 90%),hsl(200, 100%, 85%));
	line-height: 200%;
	position: absolute;
	left: 0px;
	top: 20vh;
	margin-left: .25vw;
}

#menu_list { /*this is the actual menu*/
	padding: 0px;
	list-style: none;
}

#friends_menu {
	width: 15vw;
	height: auto;
	margin-right: .25vw;
	border: solid black;
	font-size: 2.5vh;
	position:absolute;
	right: 0;
	top: 20vh;
	padding: .2vh .8vh .5vw .4vw;  /*top right bottom left*/
	background-image:radial-gradient(hsl(200, 100%, 90%),hsl(200, 100%, 85%));
	
}

#friend_list_aside {
	padding-left: 0px;
	list-style: none;
}


