html {
	font-size: 16px;
	background-image: linear-gradient(180deg, hsl(200, 100%, 90%), hsl(200,100%,95%)); 
	background-repeat: no-repeat;
	background-size: 100000px 100000px;
}
body {
	
	margin-top: 9%;
	max-height: 50%;
	overflow: hidden;
	/*0 is red, 120 is green, and 240 is blue; amount of color; lightness (50% is normal)*/
}

header {
	background-image: linear-gradient(to right, hsl(200,100%,60%),hsl(240,100%,95%) ); 	//background-color: hsl(40, 80%, 40%);
	width: 100%;
	max-height: 8%;
	line-height: 0%;
	position: fixed;
    top: 0;
	left:0;
	overflow: hidden;
	text-align:center;
}

h1 { /*Used for header*/
	text-align:center;
	font-size: 60px;
	color: white;
	text-decoration: underline;
}

footer {
	max-height: 5%;
    line-height: 200%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
	left:0;
    width: 100%;
	text-align: center;
	background-color: hsl(0, 0%, 70%); */
}
#side_menu { /*this is the box with the menu in it*/
	border: solid black;
	width: 200px;
	height: auto;
	font-size: 150%;
	padding: 0% 1%;
	background-image:radial-gradient(hsl(200, 100%, 90%),hsl(200, 100%, 85%));
}

#menu_list { /*this is the actual menu*/
	padding: 0px;
}

