#friends_list {
	border: solid black;
	position: absolute;
	left: 30%;
	width: 40%;
	margin: 0 auto;
	height: auto;
	top:auto;
	background-color: hsl(80,25%,90%);
}

.friend {
	margin: 1% 2%;
	padding: 2%;
	border: 5px outset orange;
	border-radius: 40px;
	background-color: hsl(180, 50%, 90%);
|}

#wrapper {
	min-height:auto;
	height:1000px;
	max-height:80%;
}

button {
	height: 33px;
	bottom:.5%;
	position: relative;
	width:auto;
	float:right;
}

