#posts_feed {
	border: solid black;
	position: absolute;
	left: 15%;
	width: 67vw;
	margin: 0 auto;
	margin-bottom: 5vh;
	height: auto;
	top: 20vh;
	background-color: hsl(40,65%,100%);
}

.post {
	margin: 1vh 1vw;
	padding: 1vw;
	border: .2vw outset orange;
	border-radius: 5vh;
	background-color: hsl(180, 50%, 95%);
	height:auto;
}

.post_content {
	width: min(1000px, 61vw);
	border: solid black .2vw;
	padding: 2px;
	margin: 10px 0px;
}

.post_user {
	font-size:min(20px,5vh);
	margin-left:25px;
}

.post_user_img {
	width: min(34px,2.5vw);
	height: min(34px,5vh);
}

.friend_list_item {
	margin: .50vh 0;
}
