
.test {
	background-color: hsl(200, 100%, 90%);
	background-image: url("images/pets1.jpeg");
	//background-size: 100% 100%;
	//background-repeat: no-repeat;
	border: 2px solid blue;
	padding: 2%;
	margin: 2%;	
}

#login_box {
	border: 2px solid black;
	float: left;
	margin-left: 35%;
	padding: .5%;
	
}

#register_box {
	border: 2px solid black;
	float: right;
	margin-right:35%;
	padding: .5%;
}

#reset_pass {
	//position: relative;
	//top: 50px;
}

#forms {
	text-align: center;
}
